@font-face
{
  font-family: bwFont;
  src: url('../public/fonts/bw2\ \(t&i\)\(edited\).ttf');
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.pokePanel {
  position: fixed;
  width: 100%;
  height: 40%;
  animation: fade-in 0.5s;
  font-family: bwFont;
  animation: dropIn 0.5s;
  animation-fill-mode: forwards;
  font-family: bwFont;
  top:0
}

.underPanel {
  transition: all 5s linear;
  max-height: 100%;
  overflow:hidden;
}

.load-style {
  animation: fade-in 5s;
  font-family: bwFont;
}

.hover-style {
  animation: lower 0.1s ease-in-out;
  animation-fill-mode: both;
}

.tab-style {
  animation: raise 0.1s ease-in-out;
  animation-fill-mode: both;
}

.button-style {
  animation: shrink 0.1s ease-out;
  animation-fill-mode: both;
}

/* .load-style:hover {
  transform: translateY(-5px);
} */

.hover-style:hover {
  animation: raise 0.1s ease-in-out;
  animation-fill-mode: both;
}

.tab-style:hover {
  animation: lower 0.1s ease-in-out;
  animation-fill-mode: both;
}

.button-style:hover {
  animation: grow 0.1s ease-out;
  animation-fill-mode: both;
}

.spacer
{
    width: 100%;
    height: 95px;
}


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes grow {
  from {
    scale: 100%;
  }
  to {
    scale: 105%;
  }
}

@keyframes shrink {
  from {
    scale: 105%;
  }
  to {
    scale: 100%;
  }
}

@keyframes raise {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5px);
  }
}

@keyframes lower {
  from {
    transform: translateY(-5px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes dropIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
